* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  width: 100%;
  height: 100%;

}




.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.623);

}

.screen {
  width: 80vw;
  height: 100%;
  padding: 5vw;

}

.screen form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.screen textarea {
  border-radius: 8px;
  margin-bottom: 2vw;
  padding: 1vw;
  font-size: 1.3vw;

}

.screen button {
  padding: 0.4vw 2vw;
  background-color: rgb(20, 138, 138);
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1vw;
  cursor: pointer;
}

.panel {
  width: 20vw;
  height: 100%;
  border-left: 1px solid grey;
  padding: 2vw;
}

.panel form input {
  padding: 0.4vw;
  border: 1px solid black;
  border-radius: 5px;
}

.panel ul {
  margin-top: 2vw;
}

.panel ul li {
  color: white;
  margin: 0.5vw 1.5vw;
}

.panel ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.4vw;
  text-transform: capitalize;
  margin-right: 0.5vw;
  font-family: gilroy;
}